@use "./tokens/tokens" as t;

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

::selection {
  background-color: #ffede9;
}

body {
  font-family: t.$ff-main;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1980 1080%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%221980%22 height=%221080%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h1980v1080H0z%22%2F%3E%3C%2Fmask%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23ffdbdb96%22 stroke-width=%22.99%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M948 0h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb56%22 d=%22M1027 0h79v79h-79z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1185 0h79v79h-79zM1343 0h79v79h-79zM0 79h79v79H0z%22%2F%3E%3Cpath fill=%22%23ffdbdb2c%22 d=%22M790 79h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb0b%22 d=%22M1027 79h79v79h-79z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1422 79h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb03%22 d=%22M1659 79h79v79h-79z%22%2F%3E%3Cpath fill=%22none%22 d=%22M316 158h79v79h-79zM869 158h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb38%22 d=%22M1896 158h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb2d%22 d=%22M1896 237h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb13%22 d=%22M316 316h79v79h-79z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 395h79v79H0zM237 395h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb3e%22 d=%22M0 474h79v79H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M711 474h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb10%22 d=%22M632 553h79v79h-79z%22%2F%3E%3Cpath fill=%22none%22 d=%22M711 553h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb80%22 d=%22M158 632h79v79h-79z%22%2F%3E%3Cpath fill=%22none%22 d=%22M395 632h79v79h-79zM869 632h79v79h-79zM1264 632h79v79h-79zM1343 632h79v79h-79zM1185 711h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb38%22 d=%22M474 790h79v79h-79z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1580 790h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb44%22 d=%22M1659 790h79v79h-79z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1896 790h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb86%22 d=%22M79 869h79v79H79z%22%2F%3E%3Cpath fill=%22none%22 d=%22M711 869h79v79h-79zM1106 869h79v79h-79zM1264 869h79v79h-79z%22%2F%3E%3Cpath fill=%22%23ffdbdb85%22 d=%22M1817 948h79v79h-79z%22%2F%3E%3Cpath fill=%22none%22 d=%22M316 1027h79v79h-79zM1343 1027h79v79h-79zM1896 1027h79v79h-79z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style-type: none;
}

.show-animation {
  opacity: 0;
  transform: translateY(3.125rem);
  transition: ease-in 0.5s;
}

.show-animation.visible {
  opacity: 1;
  transform: translateX(0);
}
