---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Woodworker and Knifesmith | Kershaw Customs"
  description="Discover the artistry of fine woodworking and knife smithing from a passionate South Jersey craftsman. Handcrafted masterpieces available through our Etsy store. Explore unique creations today!"
>
  <main></main>
</Layout>

<style lang="scss"></style>
