---
export interface Props {
  heading: string;
  description?: string;
}

const { heading, description } = Astro.props;
---

<header class="show-animation">
  <span class="accent">-----</span>
  <h2>{heading}</h2>
  {description ? <p>{description}</p> : null}
</header>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  header {
    margin-bottom: 3rem;
    text-align: center;
    margin-bottom: clamp(
      3rem,
      5vw,
      7rem
    ); // I should make var, same as $p-section
  }

  h2 {
    line-height: 1;
    font-weight: 600;
    font-size: t.$fs-section-title;
    color: t.$clr-text;
  }

  .accent {
    color: t.$clr-brand;
    font-size: 1.5rem;
  }
</style>
