---
import { Image } from "astro:assets";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import storyIcon from "../assets/story-icon.svg";
import servicesIcon from "../assets/services-icon.svg";
---

<section id="story">
  <MaxWidthContainer>
    <header>
      <h2 class="sr-only">About me and services sections</h2>
    </header>
    <section class="inner-section">
      <header class="show-animation">
        <img
          src={storyIcon.src}
          alt="Icon image of a book, to represent a story that is being told about the owner, Devin Kershaw."
        />
        <h3>My story</h3>
      </header>
      <p class="show-animation">
        Welcome to Kershaw Customs, your go-to woodworking business based in New
        Jersey! We are passionate about creating handcrafted wooden treasures
        that bring beauty and functionality to your everyday life. With a love
        for the art of woodworking, we carefully craft each piece with attention
        to detail and precision. From custom cutting boards to stunning
        furniture and unique decor items, our creations are made with the
        highest quality materials to ensure durability and long-lasting
        enjoyment. We take pride in our craftsmanship and strive to deliver
        exceptional customer service. Browse my Etsy shop and browse all that I
        offer!
      </p>
    </section>
    <hr />
    <section class="inner-section">
      <header class="show-animation">
        <img
          src={servicesIcon.src}
          alt="Icon image of a log of wood, which represents the woodworking services that Devin Kershaw offers."
        />
        <h3>Services</h3>
      </header>
      <div class="show-animation">
        <p>
          <span>Woodworking</span> - I take great care in understanding your specific
          needs and vision. From selecting the finest quality wood to the precise
          cutting and shaping of each piece, my attention to detail is unmatched.
          I combine traditional woodworking techniques with modern tools to ensure
          every project is crafted to perfection.
        </p>
        <p class="margin-top">
          <span>Knifesmithing</span> - I am passionate about the art of knifesmithing.
          I've honed my skills over years of experience, allowing me to create exceptional
          knives that are both functional and aesthetically pleasing. I'll work closely
          with you to understand your requirements, ensuring that the final product
          exceeds your expectations.
        </p>
      </div>
    </section>
  </MaxWidthContainer>
</section>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  section#story {
    padding: t.$p-section;
    background-color: white;
  }

  .inner-section {
    @media (min-width: t.$bp-tablet) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem;
    }

    header {
      display: flex;
      align-items: flex-start;
      gap: 1.25rem;
    }

    header > img {
      transform: scale(1.25);
      margin-top: 0.125rem;
    }
  }

  .margin-top {
    margin-top: 1rem;
  }

  header {
    @media (max-width: t.$bp-tablet) {
      margin-bottom: 1.5rem;
    }
  }

  h3 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 600;
    line-height: 1;
    color: t.$clr-text;
  }

  hr {
    margin: clamp(2rem, 5vw, 5rem) 0;
    opacity: 0.3;
  }

  p {
    max-width: 70ch;
    font-size: clamp(1rem, 1.125vw, 1.125rem);
    color: t.$clr-text-muted;
  }

  span {
    color: t.$clr-brand;
    font-weight: 500;
  }
</style>
