<section id="story">
  <h2 class="sr-only">About me and services sections</h2>
  <section>
    <header>
      <h3>My story</h3>
    </header>
    <p>
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum is that it has a more-or-less normal distribution of letters,
      as opposed to using 'Content here, content here', making it look like
      readable English.
    </p>
  </section>
  <hr />
  <section>
    <header>
      <h3>Services offered</h3>
    </header>
    <div>
      <p>
        <span>Knifesmithing</span> - It is a long established fact that a reader
        will be distracted by the readable content of a page when looking at its
        layout. It is a long established fact that a reader will be distracted by.
      </p>
      <p class="margin-top">
        <span>Woodworking</span> - It is a long established fact that a reader will
        be distracted by the readable content of a page when looking at its layout.
        It is a long established fact that a reader will be distracted by.
      </p>
    </div>
  </section>
</section>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  section#story {
    margin: t.$m-section;
    padding: t.$p-section;
  }

  .margin-top {
    margin-top: 1rem;
  }

  header {
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: t.$fs-section-title;
    font-weight: 600;
    line-height: 1;
    color: t.$clr-text;
  }

  hr {
    margin: 1.5rem 0;
    opacity: 0.3;
  }

  p {
    font-size: 1.25rem;
    color: t.$clr-text-muted;
  }

  span {
    color: t.$clr-text;
  }
</style>
