---
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import Button from "../components/Button.astro";
---

<section id="hero">
  <MaxWidthContainer>
    <div class="text-container show-animation">
      <h1>Crafting quality woodworking pieces that last</h1>
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
      <Button text="Etsy Shop" />
    </div>
  </MaxWidthContainer>
</section>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  section {
    position: relative;
    display: flex;
    min-height: 50rem;
    padding: t.$p-section;

    @media (max-width: t.$bp-tablet) {
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
      }
    }

    :global(.max-width) {
      display: flex;
      margin: auto;
      width: 100%;
    }
  }

  .text-container {
    z-index: 100;
    max-width: 80ch;
  }

  h1 {
    margin-bottom: 1.5rem;
    font-size: clamp(2.5rem, 2.75vw, 3rem);
    line-height: 1.25;
    color: t.$clr-brand;
    background: linear-gradient(272.22deg, #e30e00 0.97%, #ff392d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  p {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: t.$clr-text-muted;
  }
</style>
