---
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import Button from "../components/Button.astro";
---

<section id="hero">
  <MaxWidthContainer>
    <div class="text-container">
      <h1>Crafting quality woodworking pieces</h1>
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
      <Button text="Etsy Shop" />
    </div>
  </MaxWidthContainer>
</section>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  section {
    position: relative;
    display: flex;
    min-height: 70vh;
    padding: t.$p-section;
    background: center / cover no-repeat url("/Frame 17.png");

    @media (max-width: t.$bp-tablet) {
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
      }
    }

    :global(.max-width) {
      display: flex;
      margin: auto;
      width: 100%;
    }
  }

  .text-container {
    z-index: 100;
  }

  h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    line-height: 1.25;
  }

  p {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    line-height: 1.3;
    max-width: 50ch;
  }
</style>
