<header>
  <nav>
    <p class="logo">Kershaw Customs</p>
    <ul class="links">
      <li><a href="#hero">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#testimonials">Testimonials</a></li>
      <li><a href="#call-to-action">Etsy</a></li>
    </ul>
  </nav>
</header>

<style lang="scss"></style>
