---
import { Image } from "astro:assets";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import SectionHeader from "../components/SectionHeader.astro";
import image from "../assets/knife.jpeg";
---

<section id="projects">
  <MaxWidthContainer>
    <SectionHeader heading="What I've made" />
    <ul class="projects">
      <li class="project show-animation">
        <div class="image-container">
          <Image src={image} alt="Very cute cat :-)" />
        </div>
        <div class="content-container">
          <header>
            <h3>Project</h3>
          </header>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters.
          </p>
        </div>
      </li>
      <li class="project show-animation">
        <div class="image-container">
          <Image src={image} alt="Very cute cat :-)" />
        </div>
        <div class="content-container">
          <header>
            <h3>Project</h3>
          </header>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters.
          </p>
        </div>
      </li>
      <li class="project show-animation">
        <div class="image-container">
          <Image src={image} alt="Very cute cat :-)" />
        </div>
        <div class="content-container">
          <header>
            <h3>Project</h3>
          </header>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters.
          </p>
        </div>
      </li>
    </ul>
  </MaxWidthContainer>
</section>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;
  $breakpoint: 53.125rem;

  section {
    padding: t.$p-section;
    background-color: #f6f6f4;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 4.5vw, 6rem);
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(1rem, 3vw, 4rem);
    margin: 0 auto;
    width: 100%;

    @media (min-width: $breakpoint) {
      flex-direction: row;

      &:nth-of-type(even) {
        flex-direction: row-reverse;
      }
    }

    .image-container {
      img {
        max-height: 25rem;
        width: 100%;
        object-fit: cover;
        object-position: 0% 20%;
        border-radius: 1.875rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        transition: 0.3s ease-in-out;

        &:hover {
          transform: scale(1.0125);
        }

        @media (min-width: $breakpoint) {
          width: 40rem;
        }
      }
    }

    .content-container {
      margin: auto 0;

      header {
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        color: t.$clr-text;

        h3 {
          font-weight: 500;
        }
      }

      p {
        @media (min-width: $breakpoint) {
          max-width: 40rem;
        }
      }
    }
  }

  p {
    line-height: 1.5;
    font-size: 1.25rem;
    color: t.$clr-text-muted;
  }
</style>
