---
import { Image } from "astro:assets";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import SectionHeader from "../components/SectionHeader.astro";
import image from "../assets/knife.jpeg";
import project2 from "../assets/project-2.jpg";
import project3 from "../assets/project-3-action.jpg";
---

<section id="projects">
  <MaxWidthContainer>
    <SectionHeader heading="What I've made" />
    <ul class="projects">
      <li class="project show-animation">
        <div class="image-container">
          <Image
            src={project3}
            alt="Finished wooden table set up in a dining room."
          />
        </div>
        <div class="content-container">
          <header>
            <h3><span class="accent">1.</span> Oak Dining Table</h3>
          </header>
          <p>
            I made this table for a family friend after their dining table was
            on its last legs. I put a ton of effort into making this table super
            strong so it lasts a long time. I also used special techniques to
            join the parts together, so they can enjoy their meals without
            worrying about wobbling or falling apart.
          </p>
        </div>
      </li>
      <li class="project show-animation">
        <div class="image-container">
          <Image src={image} alt="Very cute cat :-)" />
        </div>
        <div class="content-container">
          <header>
            <h3><span class="accent">2.</span> Paring Knife</h3>
          </header>
          <p>
            I made this paring knife for a customer. As a cook myself, I knew
            exactly how the knife should be crafted: it's the result of years of
            experience and a real love for cooking. The blade is made of
            high-quality stainless steel that cuts through fruits, veggies, and
            other foods really well.
          </p>
        </div>
      </li>
      <li class="project show-animation">
        <div class="image-container">
          <Image
            src={project2}
            alt="A wooden sign with childrens' names on it."
          />
        </div>
        <div class="content-container">
          <header>
            <h3><span class="accent">3.</span> Baby Sign</h3>
          </header>
          <p>
            This is another project I made for a customer. They wanted a sign
            for each of their grandchildrens' names. I was able to use some nice
            pieces of wood and used machinery that I have to carve the names
            out. It came out really nice and it's sturdy too.
          </p>
        </div>
      </li>
    </ul>
  </MaxWidthContainer>
</section>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;
  $breakpoint: 53.125rem;

  section {
    padding: t.$p-section;
    background-color: #fcfcfc;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 4.5vw, 6rem);
  }

  .accent {
    color: t.$clr-brand;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(2rem, 3vw, 5rem);
    margin: 0 auto;
    width: 100%;

    @media (min-width: $breakpoint) {
      flex-direction: row;

      &:nth-of-type(even) {
        flex-direction: row-reverse;
      }
    }

    .image-container {
      img {
        max-height: 25rem;
        width: 100%;
        object-fit: cover;
        border-radius: 1.875rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        transition: 0.3s ease-in-out;

        @media (min-width: $breakpoint) {
          width: 40rem;
        }
      }
    }

    .content-container {
      margin: auto 0;

      header {
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        color: t.$clr-text;

        h3 {
          margin-bottom: 1.5rem;
          line-height: 1;
          font-weight: 500;
          font-size: clamp(1.25rem, 1.5vw, 1.5rem);
        }
      }

      p {
        @media (min-width: $breakpoint) {
          max-width: 40rem;
        }
      }
    }
  }

  p {
    line-height: 1.65;
    font-size: clamp(1rem, 1.125vw, 1.125rem);
    color: t.$clr-text-muted;
  }
</style>
