---
import { Image } from "astro:assets";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import SectionHeader from "../components/SectionHeader.astro";
import image from "../assets/cat.jpeg";
---

<script>
  import Swiper, { Pagination } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";

  const swiper = new Swiper(".swiper", {
    modules: [Pagination],
    slidesPerView: 1.25,
    spaceBetween: "32",
    breakpoints: {
      500: {
        slidesPerView: 1.5,
      },
      650: {
        slidesPerView: 2.5,
      },
      1000: {
        slidesPerView: 3.5,
      },
    },
  });
</script>

<section id="projects">
  <MaxWidthContainer>
    <SectionHeader
      heading="What I've made"
      description="Made-to-order pieces made with quality and passion"
    />
    <ul class="projects">
      <li class="project">
        <div class="image-container">
          <Image src={image} alt="Very cute cat :-)" />
        </div>
        <div class="content-container">
          <header>
            <h3>Project</h3>
          </header>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters.
          </p>
        </div>
      </li>
      <li class="project">
        <div class="image-container">
          <Image src={image} alt="Very cute cat :-)" />
        </div>
        <div class="content-container">
          <header>
            <h3>Project</h3>
          </header>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters.
          </p>
        </div>
      </li>
      <li class="project">
        <div class="image-container">
          <Image src={image} alt="Very cute cat :-)" />
        </div>
        <div class="content-container">
          <header>
            <h3>Project</h3>
          </header>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters.
          </p>
        </div>
      </li>
    </ul>
  </MaxWidthContainer>
</section>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  section {
    padding: t.$p-section;
    background-color: #f6f6f4;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 4.5vw, 6rem);
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(1rem, 3vw, 4rem);
    margin: 0 auto;

    @media (min-width: 53.125rem) {
      flex-direction: row;

      &:nth-of-type(even) {
        flex-direction: row-reverse;
      }
    }

    img {
      border-radius: 1.875rem;
      width: 40rem;
      max-height: 25rem;
      object-fit: cover;
    }

    .content-container {
      margin: auto 0;

      header {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        color: t.$clr-text;
      }

      p {
        max-width: 40rem;
      }
    }
  }

  p {
    line-height: 1.5;
    font-size: 1.25rem;
    color: t.$clr-text-muted;
  }
</style>
