---
import { Image } from "astro:assets";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import SectionHeader from "../components/SectionHeader.astro";
import image from "../assets/cat.jpeg";
---

<section id="testimonials">
  <MaxWidthContainer>
    <SectionHeader heading="Testimonials" />
    <ul class="cards">
      <li>
        <article class="testimonial show-animation">
          <p class="content">
            “It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. It is a
            long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout. The point of
            using Lorem Ipsum is that it has a more-or-less.
          </p>
          <footer>
            <Image src={image} alt="Very cute cat :-)" />
            <div class="meta">
              <p class="author">Person</p>
              <p class="product">Purchased product</p>
            </div>
          </footer>
        </article>
      </li>
      <li>
        <article class="testimonial show-animation">
          <p class="content">
            “It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. It is a
            long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout. The point of
            using Lorem Ipsum is that it has a more-or-less.
          </p>
          <footer>
            <Image src={image} alt="Very cute cat :-)" />
            <div class="meta">
              <p class="author">Person</p>
              <p class="product">Purchased product</p>
            </div>
          </footer>
        </article>
      </li>
      <li>
        <article class="testimonial show-animation">
          <p class="content">
            “It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. It is a
            long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout. The point of
            using Lorem Ipsum is that it has a more-or-less.
          </p>
          <footer>
            <Image src={image} alt="Very cute cat :-)" />
            <div class="meta">
              <p class="author">Person</p>
              <p class="product">Purchased product</p>
            </div>
          </footer>
        </article>
      </li>
    </ul>
  </MaxWidthContainer>
</section>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  section {
    padding: t.$p-section;
  }

  .cards {
    display: grid;
    gap: 1.5rem;

    li {
      max-width: 27.5rem;
      margin: 0 auto;

      @media (min-width: t.$bp-desktop) {
        margin: 0;
      }
    }

    @media (min-width: 50rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 68.75rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .testimonial {
    margin: 0 auto;
    padding: 1.5rem;
    box-shadow: 0rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.1);
    border-radius: 0.9375rem;
  }

  .content {
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 1.25rem;
    color: t.$clr-text-muted;
  }

  footer {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      border-radius: 100%;
      max-height: 3.5rem;
      max-width: 3.5rem;
    }

    .meta {
      .author {
        margin-bottom: 0.125rem;
        line-height: 1;
        font-size: 1.125rem;
        font-weight: 500;
        color: t.$clr-brand;
      }

      .product {
        font-size: 1rem;
        color: t.$clr-text-muted;
      }
    }
  }
</style>
